:root {
  --background: #f0f0f0;
  --foreground: #1d2128;
  --link-hover: #5a6673;
  --link-hover-opp: #b8ab9e;
  --emphasis: #62548e;
  --chakra-fonts-heading: "franklin-gothic-atf", sans-serif;
  --chakra-fonts-body: "franklin-gothic-atf", sans-serif;
}

:root.dark {
  --background: #f0f0f0;
  --foreground: #1d2128;
  --link-hover: #5a6673;
  --link-hover-opp: #b8ab9e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "franklin-gothic-atf", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease !important;
}
